.example-spacer {
  flex: 1 1 auto;
}

.selectedButton {
  background-color: #2b3b96;
}

button {
  height: 80%;
  width: 10%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #3F51B5;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2vh;
  border-radius: 5px;

}

button:hover{
  background-color: #273583;
}

span {
  margin-right: 2%;
  font-weight: bold;
  font-size: 3vh;
}
